<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>数据字典管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/js/jquery-easyui-1.6.11/themes/ui-cupertino/easyui.css"></link>
	<link rel="stylesheet" type="text/css" href='/static/css/main.css'></link>
	<script type='text/javascript' src='/static/js/jquery-1.7.1.min.js' ></script>
	<script src="/static/js/jquery-easyui-1.6.11/jquery.easyui.min.js"></script>
	<script src="/static/js/jquery-easyui-1.6.11/jquery.easyui.extend.min.js"></script>
	<script type='text/javascript' src='/static/js/common.js' ></script>
	<script type='text/javascript' src='/static/js/mustache.min.js' ></script>
	<script type='text/javascript' src='/static/js/project/common.js' ></script>
	<script type='text/javascript' src='/static/js/project/dictionary_list.js' ></script>
</head>
<body>
	<div class='main-view-content'>
		<div class='main-query-content'>
			<form>
				<span class='item'><label>字典名称:</label><input type='text' name='dictionaryName' class="easyui-textbox" prompt="字典名称" /></span>
				<span class='item'><button type='button' class='btn btn-search'>查询</button></span>
			</form>
		</div>
		<div class='dataTable-toolbar'>
			<span class='item'><button class='btn btn-add'>新增</button></span>
		</div>
		<div class='main-dataTable-content'>
			<table id="dataGrid" class="easyui-datagrid"></table>
		</div>
	</div>
</body>
</html>
<script type='text/html' id='dialog_content_template'>
	<form class='main-form-content dialog-content'>
		<input name='id' type='hidden' value='{{id}}' />
		<p class='item'><label for='name_view'>字典名称:</label><input type='text' name='name' id='name_view' class="easyui-textbox" data-options="required:true" prompt="请输入字典名称" value='{{name}}' /></p>
		<p class='item'><label for='code_view'>字典编码:</label><input type='text' name='code' id='code_view' class="easyui-textbox" data-options="required:true" prompt="请输入字典编码" value='{{code}}' /></p>
		<p class='item'><label for='remarks_view'>备注:</label><input type='text' name='remarks' id='remarks_view' class="easyui-textbox" prompt="请输入备注" value='{{remarks}}' /></p>
	</form>
</script>
<script type='text/html' id='item_dialog_content_template'>
	<form class='main-form-content dialog-content'>
		<input name='id' type='hidden' value='{{id}}' />
		<p class='item'><label for='name_view'>字典名称:</label><input type='text' name='name' id='name_view' editable='false' class="easyui-textbox" data-options="required:true" prompt="请输入字典名称" value='{{name}}' /></p>
		<p class='item'><label for='dictionaryCode_view'>字典编码:</label><input type='text' name='dictionaryCode' editable='false' id='dictionaryCode_view' class="easyui-textbox" data-options="required:true" prompt="请输入字典编码" value='{{dictionaryCode}}' /></p>
		<p class='item'><label for='itemName_view'>字典项名称:</label><input type='text' name='itemName' id='itemName_view' class="easyui-textbox" data-options="required:true" prompt="请输入字典项名称" value='{{itemName}}' /></p>
		<p class='item'><label for='remarks_view'>备注:</label><input type='text' name='remarks' id='remarks_view' class="easyui-textbox" prompt="请输入备注" value='{{remarks}}' /></p>
	</form>
</script>