<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>瑾萱管理系统</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/js/jquery-easyui-1.6.11/themes/easyui.css"></link>
	<link rel="stylesheet" type="text/css" href="/static/css/icons.css"></link>
	<link rel="stylesheet" type="text/css" href='/static/css/home.css'></link>
	<script type='text/javascript' src='/static/js/jquery-easyui-1.6.11/jquery.min.js' ></script>
	<script type='text/javascript' src='/static/js/jquery-easyui-1.6.11/jquery.easyui.min.js' ></script>
	<script type='text/javascript' src='/static/js/home.js' ></script>
</head>
<body>
	<div id="container">
	  <!-- 侧边栏开始 -->
	  <div id="sidebar">
	     <div id="logo">
	     	瑾萱管理系统
	     </div>
	     <div id="userInfo">
	       <table>
	          <tr>
	              <td class="td1"><img src="/static/images/logo.png" /></td>
	              <td  class="td2"><span id="userName">你好,欢迎</span>
	                <a class="logout J_Logout" href="/auth/logout">退出</a>
	              </td>
	          </tr>
	       </table>
	     </div>
	     <!-- 菜单开始 -->
	     <div id="menu" class="addTab">
	       <!-- 平台菜单开始 -->
	       <!-- 平台菜单结束 -->
	     </div>
	     <!-- 菜单结束 -->
	  </div>
	  <!-- 侧边栏结束 -->
	  <!-- 主体开始 -->
	 <div id="wrapper">
	     <div id="main">
	       <div id="tabs" class="easyui-tabs" fit="true" border="false">
	           <div title="首页">
	               <div id="welcome_aps" style="margin:10px; font-size:18px; height:100%;overflow:auto;">
	                  欢迎！
	               </div>
	           </div>
	       </div>
	     </div>
	 </div>
	 <!-- 主体结束 -->
</body>
</html>