<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>订单管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/js/jquery-easyui-1.6.11/themes/ui-cupertino/easyui.css"></link>
	<link rel="stylesheet" type="text/css" href='/static/css/main.css'></link>
	<link rel="stylesheet" type="text/css" href='/static/css/table_print.css'></link>
	<link rel="stylesheet" media="print" type="text/css" href='/static/css/table_print.css'></link>
	<script type='text/javascript' src='/static/js/jquery-1.7.1.min.js' ></script>
	<script src="/static/js/jquery-easyui-1.6.11/jquery.easyui.min.js"></script>
	<script src="/static/js/jquery-easyui-1.6.11/jquery.easyui.extend.min.js"></script>
	<script type='text/javascript' src='/static/js/common.js' ></script>
	<script type='text/javascript' src='/static/js/mustache.min.js' ></script>
	<script type='text/javascript' src='/static/js/project/common.js' ></script>
	<script type='text/javascript' src='/static/js/project/order_list.js' ></script>
	<script type='text/javascript' src='/static/js/jQuery.print.js' ></script>
</head>
<body>
	<div class='main-view-content'>
		<div class='main-query-content'>
			<form>
				<span class='item'><label>订单编号:</label><input type='text' name='orderNO' class="easyui-textbox" prompt="订单编号" /></span>
				<span class='item'><label>提还柜地址:</label><input type='text' name='cabinetRecipientAddr' id='cabinetRecipientAddr_query' class="easyui-combobox" dataDic = 'cabinet_recipient_addr' prompt="提柜地" style='width:80px;' />&nbsp;-&nbsp;<input type='text' name='cabinetReturnAddr' id='cabinetReturnAddr_query' class="easyui-combobox" dataDic = 'cabinet_return_addr' prompt="还柜地"  style='width:80px;' /></span>
				<span class='item'><label>柜号:</label><input type='text' name='cabinetNumber' class="easyui-textbox" prompt="柜号" /></span>
				<span class='item'><label>订单简址:</label><input type='text' name='address' class="easyui-textbox" prompt="订单简址" /></span>
				<span class='item'><label>车牌号:</label><input type='text' name='plateNumber' class="easyui-textbox" prompt="车牌号" /></span>
				<span class='item'><label>司机姓名:</label><input type='text' name='ownerName' class="easyui-textbox" prompt="司机姓名" /></span>
				<span class='item'><label>订单日期:</label><input type='text' id='orderDateBegin_query' name='orderDateBegin' class="easyui-datebox" prompt="订单起始日期" />&nbsp;-&nbsp;<input type='text' id='orderDateEnd_query' name='orderDateEnd' class="easyui-datebox" prompt="订单结束日期" /></span>
				<span class='item'><label>操作人:</label><input type='text' name='operatorName' class="easyui-textbox" prompt="操作人姓名" /></span>
				<span class='item'><label>订单状态:</label><input type='text' id='orderStatus_query' name='orderStatus' class="easyui-combobox" prompt="订单状态" /></span>
				<span class='item'><button type='button' class='btn btn-search'>查询</button></span>
			</form>
		</div>
		<div class='dataTable-toolbar'>
			<span class='item'><button class='btn btn-add'>新增</button></span>
			<span class='item'><button class='btn btn-excel'>导出Excel</button></span>
			<form id="uploadWord">
	            <input type="file" name="file" accept='application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document'/>
	            <button class='btn btn-upload' type='button'>上传派车单</button>
		    </form>
		</div>
		<div class='main-dataTable-content'>
			<table id="dataGrid" class="easyui-datagrid"></table>
		</div>
	</div>
</body>
</html>
<script type='text/html' id='dialog_content_template'>
	<form class='main-form-content dialog-content'>
		<input name='id' type='hidden' value='{{id}}' />
		<input name='customerId' id='customerId_form' type='hidden' value='{{customerId}}' />
		<input name='operatorId' id='operatorId_form' type='hidden' value='{{operatorId}}' />
		<p class='item'><label for='plateNumber_view'>车牌号:</label><input type='text' name='plateNumber' id='plateNumber_view' class="easyui-combogrid"  prompt="请输入车牌号" value='{{plateNumber}}' /></p>
		<p class='item'><label for='ownerName_view'>司机姓名:</label><input type='text' name='ownerName' id='ownerName_view' class="easyui-textbox" editable='false' prompt="请输入司机姓名" value='{{ownerName}}' /></p>
		<p class='item'><label for='contactNumber_view'>联系电话:</label><input type='text' name='contactNumber' id='contactNumber_view' class="easyui-textbox" editable='false'  prompt="请输入联系电话" value='{{contactNumber}}' /></p>
		<p class='item'><label for='orderNO_view'>订单编号:</label><input type='text' name='orderNO' id='orderNO_view' class="easyui-textbox"  data-options="required:true" prompt="请输入订单编号" value='{{orderNO}}' /></p>
		<p class='item'><label for='demand_view'>订单要求:</label><input type='text' name='demand' id='remarks_view' class="easyui-textbox" prompt="请输入订单要求" value='{{demand}}' /></p>
		<p class='item'><label for='orderDate_view'>订单日期:</label><input type='text' name='orderDate' id='orderDate_view' class="easyui-datetimebox" data-options="required:true" prompt="请输入订单日期" value='{{orderDate}}' /></p>	
		<p class='item'><label for='companyName_view'>客户公司名称:</label><input type='text' name='companyName' id='companyName_view' class="easyui-combogrid" data-options="required:true"  prompt="请输入客户公司名称" value='{{companyName}}' /></p>
		<p class='item'><label for='operatorName_view'>操作人:</label><input type='text' name='operatorName' id='operatorName_view' class="easyui-combogrid"  prompt="请输入操作人" value='{{operatorName}}' /></p>
		<p class='item'><label for='detailAddress_view'>订单详址:</label><input type='text' name='detailAddress' id='address_view' class="easyui-textbox"  prompt="请输入订单详址" value='{{detailAddress}}' /></p>
		<p class='item'><label for='address_view'>订单简址:</label><input type='text' name='address' id='address_view' class="easyui-textbox"  prompt="请输入订单简址" value='{{address}}' /></p>
		<p class='item'><label for='weighed_view'>重量(T):</label><input type='text' name='weighed' id='weighed_view' class="easyui-numberbox" prompt="请输入重量" value='{{weighed}}' /></p>
		<p class='item'><label for='cabinetModel_view'>柜型:</label><input type='text' name='cabinetModel' id='cabinetModel_view' class="easyui-combobox" dataDic = 'cabinet_model' prompt="请输入柜型" value='{{cabinetModel}}' /></p>
		<p class='item'><label for='cabinetRecipientAddr_view'>提还柜地址:</label><input type='text' name='cabinetRecipientAddr' id='cabinetRecipientAddr_view' class="easyui-combobox" dataDic = 'cabinet_recipient_addr' defaultSel='二期' prompt="提柜地" value='{{cabinetRecipientAddr}}' style='width:80px;' />&nbsp;-&nbsp;<input type='text' name='cabinetReturnAddr' id='cabinetReturnAddr_view' class="easyui-combobox" defaultSel='二期'  dataDic = 'cabinet_return_addr'  prompt="还柜地" value='{{cabinetReturnAddr}}' selected='二期' style='width:80px;' /></p>
		<p class='item'><label for='cabinetNumber_view'>柜号:</label><input type='text' name='cabinetNumber' id='cabinetNumber_view' class="easyui-textbox" prompt="请输入柜号" value='{{cabinetNumber}}' /></p>
		<p class='item'><label for='sealNumber_view'>封号:</label><input type='text' name='sealNumber' id='sealNumber_view' class="easyui-textbox" prompt="请输入封号" value='{{sealNumber}}' /></p>
		<p class='item'><label for='customerPrice_view'>订单金额:</label><input type='text' name='customerPrice' id='customerPrice_view' class="easyui-numberbox" precision="2" data-options="required:true" prompt="请输入订单金额" value='{{customerPrice}}' /></p>
		<p class='item'><label for='driverPrice_view'>划价金额:</label><input type='text' name='driverPrice' id='driverPrice_view' class="easyui-numberbox" precision="2" prompt="请输入划价金额" value='{{driverPrice}}' /></p>
		<p class='item'><label for='otherAmt_view'>杂费金额:</label><label>{{#otherAmt}}{{otherAmt}}{{/otherAmt}}{{^otherAmt}}0.00{{/otherAmt}}</label></p>
		<p class='item'><label for='orderStatus_true_view'>订单状态:</label><input type='radio' name='orderStatus' id='orderStatus_true_view' class="valign_m radio" checked="checked"  value='0' /><label for='orderStatus_true_view' class='radio'>正常</label><input type='radio' name='orderStatus' id='orderStatus_false_view' class="valign_m radio"  value='1' /><label for='orderStatus_false_view' class='radio'>取消</label></p>
		<p class='item'><label for='remarks_view'>备注:</label><input type='text' name='remarks' id='remarks_view' class="easyui-textbox" prompt="请输入备注" value='{{remarks}}' /></p>
	</form>
</script>

<script type='text/html' id='otherAmt_dialog_content_template'>
	<form class='main-form-content dialog-content'>
		<input name='id' type='hidden' value='{{id}}' />
		<input name='orderId' id='orderId_form' type='hidden' value='{{orderId}}' />
		<p class='item'><label for='orderNO_view'>订单编号:</label><input type='text' name='orderNO' id='orderNO_view' class="easyui-textbox" editable='false' prompt="请输入订单编号" value='{{orderNO}}' /></p>
		<p class='item'><label for='cabinetModel_view'>柜型:</label><input type='text' name='cabinetModel' id='cabinetModel_view' class="easyui-textbox" editable='false' prompt="请完善订单柜型" value='{{cabinetModel}}' /></p>
		<p class='item'><label for='cabinetNumber_view'>订单柜号:</label><input type='text' name='cabinetNumber' id='cabinetNumber_view' class="easyui-textbox" editable='false' prompt="请完善订单柜号" value='{{cabinetNumber}}' /></p>
		<p class='item'><label for='sealNumber_view'>订单封号:</label><input type='text' name='sealNumber' id='sealNumber_view' class="easyui-textbox" editable='false' prompt="请完善订单封号" value='{{sealNumber}}' /></p>
		<p class='item'><label for='address_view'>订单简址:</label><input type='text' name='address' id='address_view' class="easyui-textbox"  prompt="请完善订单简址" value='{{address}}' /></p>
		<p class='item'><label for='expenditureDate_view'>支出日期:</label><input type='text' name='expenditureDate' id='expenditureDate_view' class="easyui-datetimebox" prompt="请输入支出日期" value='{{expenditureDate}}' /></p>	
		<p class='item'><label for='itemName_view'>支付项目类型:</label><input type='text' name='itemName' id='itemName_view' class="easyui-combobox" dataDic = 'other_amt_item' prompt="请输入支付项目类型" value='{{itemName}}' /></p>
		<p class='item'><label for='price_view'>金额:</label><input type='text' name='price' id='price_view' class="easyui-numberbox" precision="2" prompt="请输入支出金额" value='{{price}}' /></p>
		<p class='item'><label for='propertyTypes_true_view'>杂费归属:</label><input type='checkbox' name='propertyTypes' id='propertyTypes_true_view' class="valign_m radio"  checked="checked"  value='1' /><label for='propertyTypes_true_view' class='radio'>归司机</label><input type='checkbox' name='propertyTypes' id='propertyTypes_false_view' class="valign_m radio" checked="checked"   value='2' /><label for='propertyType_false_view' class='radio'>归客户</label><input type='checkbox' name='propertyTypes' id='propertyTypes_myself_view' class="valign_m radio"  value='3' /><label for='propertyTypes_myself_view' class='radio'>自己</label></p>
		<p class='item'><label for='isSettle_true_view'>结算状态:</label><input type='radio' name='isSettle' id='isSettle_true_view' class="valign_m radio" value='0' /><label for='isSettle_true_view' class='radio'>已结算</label><input type='radio' name='isSettle' id='isSettle_false_view' class="valign_m radio" checked="checked"  value='1' /><label for='isSettle_false_view' class='radio'>未结算</label></p>
		<p class='item'><label for='remarks_view'>备注:</label><input type='text' name='remarks' id='remarks_view' class="easyui-textbox" prompt="请输入备注" value='{{remarks}}' /></p>
	</form>
</script>

<script type='text/html' id='print_dialog_content_template'>
<div id='print_area'>
	<div class='top_area' >
		<table class='print_talbe'>
			<tr class='company'>
				<td class='tit company' colspan='5'>公司名:<input type='text' class='companyName' name='companyName' value='广州市宣顺物流有限公司' /></td>
			</tr>
			<tr>
				<td class='tit'>提单号</td>
				<td class='red'>{{orderNO}}</td>
				<td class='tit'>柜型</td>
				<td colspan='2' class='red'>{{cabinetModel}}</td>
			</tr>
			<tr>
				<td class='tit'>订单要求</td>
				<td colspan='4' class='important'>{{demand}}</td>
			</tr>
			<tr>
				<td class='tit'>装货时间</td>
				<td class='red'>{{orderDate}}</td>
				<td class='tit'>提还地点</td>
				<td>{{cabinetRecipientAddr}}</td>
				<td>{{cabinetReturnAddr}}</td>
			</tr>
			<tr>
				<td class='tit'>装货送货地址及联系电话</td>
				<td colspan='4'>{{detailAddress}}</td>
			</tr>
			<tr>
				<td class='tit'>柜号</td>
				<td>{{cabinetNumber}}</td>
				<td class='tit'>封号</td>
				<td colspan='2'>{{sealNumber}}</td>
			</tr>
			<tr>
				<td class='tit'>司机电话</td>
				<td>{{contactNumber}}</td>
				<td class='tit'>车牌</td>
				<td colspan='2'>{{plateNumber}}</td>
			</tr>
			<tr>
				<td class='tit'>司机姓名</td>
				<td>{{ownerName}}</td>
				<td class='tit'>时间间隔</td>
				<td><input type='text' name='kssjje' /></td>
				<td><input type='text' name='jssjje' /></td>
			</tr>
			<tr>
				<td class='red' colspan='5'>注意事项1：拿到单务必核对订单信息是否与收到信息不符，如有错误请及时联系，否则后果自负</td>
			</tr>
			<tr>
				<td class='red' colspan='5'>注意事项2：提柜注意验柜，切勿提烂柜，如有湿柜、油污柜等一定要事先联系</td>
			</tr>
			<tr>
				<td class='red' colspan='5'>注意事项3：提到柜务必及时发柜号资料以及对应照片，到工厂有任何异常情况请先与公司联系，切勿现场发生争执</td>
			</tr>
			<tr>
				<td class='tit' colspan='5'>柜号资料发到微信（<input type='text' class='num' name='wechat' value='15088053590' />）或QQ（<input type='text' class='num' name='qq' value='2811392794' />），联系电话（<input type='text' class='num tel' name='tel' value='小肖15088053590' style='font-weight: bold;' />）</td>
			</tr>
		</table>
	</div>
	<div class='bottom_area' >
		<table class='print_talbe'>
			<tr class='company'>
				<td class='tit company' colspan='5'>公司名:<input type='text' class='companyName' name='companyName' value='广州市宣顺物流有限公司' /></td>
			</tr>
			<tr>
				<td class='tit'>提单号</td>
				<td class='red'>{{orderNO}}</td>
				<td class='tit'>柜型</td>
				<td colspan='2' class='red'>{{cabinetModel}}</td>
			</tr>
			<tr>
				<td class='tit'>订单要求</td>
				<td colspan='4' class='important'>{{demand}}</td>
			</tr>
			<tr>
				<td class='tit'>装货时间</td>
				<td class='red'>{{orderDate}}</td>
				<td class='tit'>提还地点</td>
				<td>{{cabinetRecipientAddr}}</td>
				<td>{{cabinetReturnAddr}}</td>
			</tr>
			<tr>
				<td class='tit'>装货送货地址及联系电话</td>
				<td colspan='4'>{{detailAddress}}</td>
			</tr>
			<tr>
				<td class='tit'>柜号</td>
				<td>{{cabinetNumber}}</td>
				<td class='tit'>封号</td>
				<td colspan='2'>{{sealNumber}}</td>
			</tr>
			<tr>
				<td class='tit'>司机电话</td>
				<td>{{contactNumber}}</td>
				<td class='tit'>车牌</td>
				<td colspan='2'>{{plateNumber}}</td>
			</tr>
			<tr>
				<td class='tit'>司机姓名</td>
				<td>{{ownerName}}</td>
				<td class='tit'>时间间隔</td>
				<td><input type='text' name='kssjje' /></td>
				<td><input type='text' name='jssjje' /></td>
			</tr>
			<tr>
				<td class='red' colspan='5'>注意事项1：拿到单务必核对订单信息是否与收到信息不符，如有错误请及时联系，否则后果自负</td>
			</tr>
			<tr>
				<td class='red' colspan='5'>注意事项2：提柜注意验柜，切勿提烂柜，如有湿柜、油污柜等一定要事先联系</td>
			</tr>
			<tr>
				<td class='red' colspan='5'>注意事项3：提到柜务必及时发柜号资料以及对应照片，到工厂有任何异常情况请先与公司联系，切勿现场发生争执</td>
			</tr>
			<tr>
				<td class='tit' colspan='5'>柜号资料发到微信（<input type='text' class='num' name='wechat' value='15088053590' />）或QQ（<input type='text' class='num' name='qq' value='2811392794' />），联系电话（<input type='text' class='num tel' name='tel' value='小肖15088053590' style='font-weight: bold;' />）</td>
			</tr>
		</table>
	</div>
</div>
</script>