<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>用户信息管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/js/jquery-easyui-1.6.11/themes/ui-cupertino/easyui.css"></link>
	<link rel="stylesheet" type="text/css" href='/static/css/main.css'></link>
	<script type='text/javascript' src='/static/js/jquery-1.7.1.min.js' ></script>
	<script src="/static/js/jquery-easyui-1.6.11/jquery.easyui.min.js"></script>
	<script src="/static/js/jquery-easyui-1.6.11/jquery.easyui.extend.min.js"></script>
	<script type='text/javascript' src='/static/js/common.js' ></script>
	<script type='text/javascript' src='/static/js/mustache.min.js' ></script>
	<script type='text/javascript' src='/static/js/project/common.js' ></script>
	<script type='text/javascript' src='/static/js/project/user_list.js' ></script>
</head>
<body>
	<div class='main-view-content'>
		<div class='main-query-content'>
			<form>
				<span class='item'><label>用户姓名:</label><input type='text' name='userName' class="easyui-textbox" prompt="用户姓名" /></span>
				<span class='item'><label>用户账号:</label><input type='text' name='userAccount' class="easyui-textbox" prompt="用户账号" /></span>
				<span class='item'><label>联系电话:</label><input type='text' name='contactNumber' class="easyui-textbox" prompt="联系电话" /></span>
				<span class='item'><button type='button' class='btn btn-search'>查询</button></span>
			</form>
		</div>
		<div class='dataTable-toolbar'>
			<span class='item'><button class='btn btn-add'>新增</button></span>
		</div>
		<div class='main-dataTable-content'>
			<table id="dataGrid" class="easyui-datagrid"></table>
		</div>
	</div>
</body>
</html>
<script type='text/html' id='dialog_content_template'>
	<form class='main-form-content dialog-content'>
		<input name='id' type='hidden' value='{{id}}' />
		<p class='item'><label for='userName_view'>用户姓名:</label><input type='text' name='userName' id='userName_view' class="easyui-textbox" data-options="required:true" prompt="请输入用户姓名" value='{{userName}}' /></p>
		<p class='item'><label for='userAccount_view'>用户账号:</label><input type='text' name='userAccount' id='userAccount_view' class="easyui-textbox" data-options="required:true" prompt="请输入用户账号" value='{{userAccount}}' /></p>
		<p class='item'><label for='password_view'>账号密码:</label><input type='text' name='password' id='password_view' class="easyui-passwordbox" data-options="required:true" prompt="请输入账号密码" value='{{password}}' /></p>
		<p class='item'><label for='password_confirm_view'>确认密码:</label><input type='text' id='password_confirm_view' class="easyui-passwordbox" prompt="请确认账号密码" validType="confirmPass['#password_view']" value='{{password}}' /></p>
		<p class='item'><label for='contactNumber_view'>联系电话:</label><input type='text' name='contactNumber' id='contactNumber_view' class="easyui-textbox" prompt="请输入联系电话" value='{{contactNumber}}' /></p>
		<p class='item'><label for='remarks_view'>备注:</label><input type='text' name='remarks' id='remarks_view' class="easyui-textbox" prompt="请输入备注" value='{{remarks}}' /></p>
	</form>
</script>
<script type='text/html' id='edit_dialog_content_template'>
	<form class='main-form-content dialog-content'>
		<input name='id' type='hidden' value='{{id}}' />
		<p class='item'><label for='userName_view'>用户姓名:</label><input type='text' name='userName' id='userName_view' class="easyui-textbox" data-options="required:true" prompt="请输入用户姓名" value='{{userName}}' /></p>
		<p class='item'><label for='userAccount_view'>用户账号:</label><input type='text' name='userAccount' id='userAccount_view' class="easyui-textbox" data-options="required:true" prompt="请输入用户账号" value='{{userAccount}}' /></p>
		<p class='item'><label for='contactNumber_view'>联系电话:</label><input type='text' name='contactNumber' id='contactNumber_view' class="easyui-textbox" prompt="请输入联系电话" value='{{contactNumber}}' /></p>
		<p class='item'><label for='remarks_view'>备注:</label><input type='text' name='remarks' id='remarks_view' class="easyui-textbox" prompt="请输入备注" value='{{remarks}}' /></p>
	</form>
</script>